go 1.25.5

use (
	./api-client-go
	./cli
	./examples/go
	./sdk-go
	./toolbox-api-client-go
)

replace github.com/daytona/clients/api-client-go v0.192.0 => ./api-client-go

replace github.com/daytona/clients/toolbox-api-client-go v0.192.0 => ./toolbox-api-client-go
