go 1.25.5

use (
	./analytics-api-client-go
	./api-client-go
	./cli
	./examples/go
	./sdk-go
	./toolbox-api-client-go
)

replace go.daytona.com/analytics-api-client-go v0.192.0 => ./analytics-api-client-go

replace go.daytona.com/api-client-go v0.192.0 => ./api-client-go

replace go.daytona.com/toolbox-api-client-go v0.192.0 => ./toolbox-api-client-go
