go 1.25.5

use (
	./api-client-go
	./cli
	./sdk-go
	./toolbox-api-client-go
)

replace go.daytona.io/api-client-go v0.191.0 => ./api-client-go

replace go.daytona.io/toolbox-api-client-go v0.191.0 => ./toolbox-api-client-go
