/*
Daytona

Daytona AI platform API Docs

API version: 1.0
Contact: support@daytona.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


type AuditAPI interface {

	/*
	GetOrganizationAuditLogs Get audit logs for organization

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@return AuditAPIGetOrganizationAuditLogsRequest
	*/
	GetOrganizationAuditLogs(ctx context.Context, organizationId string) AuditAPIGetOrganizationAuditLogsRequest

	// GetOrganizationAuditLogsExecute executes the request
	//  @return PaginatedAuditLogs
	GetOrganizationAuditLogsExecute(r AuditAPIGetOrganizationAuditLogsRequest) (*PaginatedAuditLogs, *http.Response, error)
}

// AuditAPIService AuditAPI service
type AuditAPIService service

type AuditAPIGetOrganizationAuditLogsRequest struct {
	ctx context.Context
	ApiService AuditAPI
	organizationId string
	page *float32
	limit *float32
	from *time.Time
	to *time.Time
	nextToken *string
	id *StringFilter
	actorId *StringFilter
	actorEmail *StringFilter
	actorApiKeyPrefix *StringFilter
	actorApiKeySuffix *StringFilter
	action *StringFilter
	targetType *StringFilter
	targetId *StringFilter
	statusCode *IntFilter
	createdAt *DateFilter
}

// Page number of the results
func (r AuditAPIGetOrganizationAuditLogsRequest) Page(page float32) AuditAPIGetOrganizationAuditLogsRequest {
	r.page = &page
	return r
}

// Number of results per page
func (r AuditAPIGetOrganizationAuditLogsRequest) Limit(limit float32) AuditAPIGetOrganizationAuditLogsRequest {
	r.limit = &limit
	return r
}

// Deprecated alias for &#x60;createdAt[gte]&#x60;. From date (ISO 8601 format).
// Deprecated
func (r AuditAPIGetOrganizationAuditLogsRequest) From(from time.Time) AuditAPIGetOrganizationAuditLogsRequest {
	r.from = &from
	return r
}

// Deprecated alias for &#x60;createdAt[lte]&#x60;. To date (ISO 8601 format).
// Deprecated
func (r AuditAPIGetOrganizationAuditLogsRequest) To(to time.Time) AuditAPIGetOrganizationAuditLogsRequest {
	r.to = &to
	return r
}

// Token for cursor-based pagination. When provided, takes precedence over page parameter.
func (r AuditAPIGetOrganizationAuditLogsRequest) NextToken(nextToken string) AuditAPIGetOrganizationAuditLogsRequest {
	r.nextToken = &nextToken
	return r
}

// Filter by audit log ID.
func (r AuditAPIGetOrganizationAuditLogsRequest) Id(id StringFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.id = &id
	return r
}

// Filter by actor user ID.
func (r AuditAPIGetOrganizationAuditLogsRequest) ActorId(actorId StringFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.actorId = &actorId
	return r
}

// Filter by actor email.
func (r AuditAPIGetOrganizationAuditLogsRequest) ActorEmail(actorEmail StringFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.actorEmail = &actorEmail
	return r
}

// Filter by actor API key prefix.
func (r AuditAPIGetOrganizationAuditLogsRequest) ActorApiKeyPrefix(actorApiKeyPrefix StringFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.actorApiKeyPrefix = &actorApiKeyPrefix
	return r
}

// Filter by actor API key suffix.
func (r AuditAPIGetOrganizationAuditLogsRequest) ActorApiKeySuffix(actorApiKeySuffix StringFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.actorApiKeySuffix = &actorApiKeySuffix
	return r
}

// Filter by action.
func (r AuditAPIGetOrganizationAuditLogsRequest) Action(action StringFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.action = &action
	return r
}

// Filter by target type.
func (r AuditAPIGetOrganizationAuditLogsRequest) TargetType(targetType StringFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.targetType = &targetType
	return r
}

// Filter by target ID.
func (r AuditAPIGetOrganizationAuditLogsRequest) TargetId(targetId StringFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.targetId = &targetId
	return r
}

// Filter by HTTP status code.
func (r AuditAPIGetOrganizationAuditLogsRequest) StatusCode(statusCode IntFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.statusCode = &statusCode
	return r
}

// Filter by creation timestamp.
func (r AuditAPIGetOrganizationAuditLogsRequest) CreatedAt(createdAt DateFilter) AuditAPIGetOrganizationAuditLogsRequest {
	r.createdAt = &createdAt
	return r
}

func (r AuditAPIGetOrganizationAuditLogsRequest) Execute() (*PaginatedAuditLogs, *http.Response, error) {
	return r.ApiService.GetOrganizationAuditLogsExecute(r)
}

/*
GetOrganizationAuditLogs Get audit logs for organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return AuditAPIGetOrganizationAuditLogsRequest
*/
func (a *AuditAPIService) GetOrganizationAuditLogs(ctx context.Context, organizationId string) AuditAPIGetOrganizationAuditLogsRequest {
	return AuditAPIGetOrganizationAuditLogsRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return PaginatedAuditLogs
func (a *AuditAPIService) GetOrganizationAuditLogsExecute(r AuditAPIGetOrganizationAuditLogsRequest) (*PaginatedAuditLogs, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedAuditLogs
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditAPIService.GetOrganizationAuditLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/audit/organizations/{organizationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue float32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue float32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.nextToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nextToken", r.nextToken, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.actorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actorId", r.actorId, "form", "")
	}
	if r.actorEmail != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actorEmail", r.actorEmail, "form", "")
	}
	if r.actorApiKeyPrefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actorApiKeyPrefix", r.actorApiKeyPrefix, "form", "")
	}
	if r.actorApiKeySuffix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actorApiKeySuffix", r.actorApiKeySuffix, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.targetType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetType", r.targetType, "form", "")
	}
	if r.targetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetId", r.targetId, "form", "")
	}
	if r.statusCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statusCode", r.statusCode, "form", "")
	}
	if r.createdAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdAt", r.createdAt, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
